/* ============= WEB BROWSER RESETS ============  */

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* Nicer than default sans-serif font */
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

  /* Color variables */
  --background-color: rgba(0, 0, 0, 1);
  --secondary-color: #1d2226;
}

html {
  height: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  max-width: 1920px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

/* HTML5 container elements full viewport width */
header,
section,
footer {
  width: 100%;
}

/* Last element at bottom of header or section */
header *:last-child,
section *:last-child,
footer *:last-child {
  margin-bottom: 0 !important;
}

/*  ============= Header ============ */

.hero-block {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color);
  width: 100vw;
  height: 60vh;
}

.hero-block .col-2 {
  padding: calc(25px + (60 - 25) * ((100vw - 320px) / (1920 - 320)));
  text-align: center;
  color: #ddd;
}

.hero-block .col-2 .hero-bg-media img {
  width: calc(150px + (800 - 150) * ((100vw - 320px) / (1920 - 320)));
  height: auto;
  border-radius: 4%;
}

/* Headings */
.hero-block h1,
.hero-block h2 {
  color: var(--white-000);
}
.hero-block h1 {
  line-height: 1.1;
  font-size: calc(48px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
}
.hero-block h2 {
  line-height: 1.2;
  margin: 20px;
  font-size: calc(22px + (48 - 22) * ((100vw - 320px) / (1920 - 320)));
  font-weight: bold;
}

.hero-block .container-btn {
  margin: 30px;
}

.hero-block .container-btn a.btn {
  cursor: pointer;
  color: #ddd;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: calc(18px + (19 - 18) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: none;
  font-weight: bold;
  font-family: var(--sans-serif);
  padding: 1% 3%;
  transition: all 0.3s linear;
}

.hero-block .container-btn a.btn:hover {
  background-color: #ddd;
  color: #000;
}

@media (max-width: 555px) {
  .hero-block {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .hero-block .col-2 {
  padding: calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
}
}

/*  ============= Footer ============ */

footer {
  width: 100vw;
  text-align: center;
  background-color: var(--background-color);
  border-top: 2px solid var(--secondary-color);
  color: #ddd;
  padding: 10px 0px 50px 0px;
}

footer h2 {
  font-size: calc(28px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  margin: 0 auto 16px auto;
}

footer h3 {
  font-size: calc(18px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  font-weight: normal;
  font-style: italic;
  margin: 0 auto 36px auto;
}

/* Footer text links and icon links */
footer ul.footer-links,
footer ul.footer-icons {
  list-style-type: none;
  margin: 0 auto 48px auto;
}

footer ul.footer-links li,
footer ul.footer-icons li {
  display: inline-block;
  margin: 0 32px 0 0;
}

footer ul.footer-links li:last-child,
footer ul.footer-icons li:last-child {
  margin-right: 0;
}

/* Footer text links */
footer ul.footer-links li a:link,
footer ul.footer-links li a:visited {
  font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: var(--white-000);
  color: var(--white-000);
  transition: all 0.2s linear;
}

footer ul.footer-links li a:hover,
footer ul.footer-links li a:active {
  text-decoration-color: transparent;
  background-color: transparent;
}

/* Footer icons */
footer ul.footer-icons li a:any-link i {
  text-decoration: none !important;
  font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
  color: #ddd;
  border-bottom-width: 0;
  transition: all 0.2s linear;
}

footer ul.footer-icons li a:hover i {
  color: #999;
}

/* Privacy and legal link */
footer p.privacy a:link,
footer p.privacy a:hover {
  font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: #ddd;
  color: #ddd;
  transition: all 0.2s linear;
}

footer p.privacy a:hover,
footer p.privacy a:active {
  text-decoration-color: transparent;
  background-color: transparent;
}
