/*  ============= WEB BROWSER RESETS ============ */
* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* Nicer than default sans-serif font */
  --sans-serif: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell,
    Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;

  /* Color variables */
  --background-color: rgba(0, 0, 0, 0.9);
  --secondary-color: #1d2226;
}

html {
  height: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}

body {
  max-width: 1920px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  background-color: var(--background-color);
}

/* HTML5 container elements full viewport width */
header,
section,
footer {
  width: 100%;
}

/* Last element at bottom of header or section */
header *:last-child,
section *:last-child,
footer *:last-child {
  margin-bottom: 0 !important;
}

/*  ============= Header ============ */

.header-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.header-bg-media {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.header-bg-media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--secondary-color);
}

.header-block h1 {
  font-size: calc(58px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 24px;
  line-height: 1.2;
  color: #ddd;
}

.header-text-container,
.container-btn {
  padding: 3% 10%;
  z-index: 2;
}

.header-btn {
  cursor: pointer;
  color: #ddd;
  border-radius: 10px;
  border: 2px solid #ddd;
  font-size: calc(18px + (19 - 18) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: none;
  font-weight: bold;
  font-family: var(--sans-serif);
  padding: 1% 3%;
  transition: all 0.3s linear;
}

.header-btn:hover {
  background-color: #ddd;
  color: #000;
}

/*  ============= Main Container / Recent projects ============ */

main {
  background-color: var(--background-color);
  padding: 50px 10px;
}

.heading {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  max-width: 640px;
  border-top: 2px solid var(--secondary-color);
}

.heading h2 {
  font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1140 - 320)));
  line-height: 1.2;
  letter-spacing: -1px;
  margin-top: 15px;
  color: #ddd;
  font-weight: bold;
}

.heading h3 {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1140 - 320)));
  line-height: 1.2;
  margin: 20px;
  color: #ddd;
  font-weight: lighter;
}

.container-flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-left: 8%;
  padding-right: 8%;
}

.col-3 {
  width: 450px;
  height: 450px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin-top: 2.5em;
  box-shadow: 4px 4px 20px rgb(20 20 20 / 80%);
}

.project-image {
  height: 50%;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.project-description {
  height: 35%;
  margin: 10px;
}

.project-description h3 {
  color: #ddd;
  font-family: var(--sans-serif);
  font-size: calc(22px + (24 - 22) * ((100vw - 320px) / (1140 - 320)));
}

.project-description p {
  color: #ddd;
  font-family: var(--sans-serif);
  font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1140 - 320)));
  line-height: 1.5;
  margin-bottom: 16px;
}

.btn {
  font-family: var(--sans-serif);
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 700;
  transition: all 0.3s linear;
  padding: 5px 40px;
  font-size: calc(17px + (19 - 17) * ((100vw - 320px) / (1920 - 320)));
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 12px;
}

.btn:hover {
  color: #000;
  background-color: #ddd;
}

/*  ============= Footer ============ */

footer {
  width: 100vw;
  text-align: center;
  background-color: var(--background-color);
  border-top: 2px solid var(--secondary-color);
  color: #ddd;
  padding: 10px 0px 50px 0px;
}

footer h2 {
  font-size: calc(28px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  margin: 0 auto 16px auto;
}

footer h3 {
  font-size: calc(18px + (72 - 48) * ((100vw - 320px) / (1920 - 320)));
  font-weight: normal;
  font-style: italic;
  margin: 0 auto 36px auto;
}

/* Footer text links and icon links */
footer ul.footer-links,
footer ul.footer-icons {
  list-style-type: none;
  margin: 0 auto 48px auto;
}

footer ul.footer-links li,
footer ul.footer-icons li {
  display: inline-block;
  margin: 0 32px 0 0;
}

footer ul.footer-links li:last-child,
footer ul.footer-icons li:last-child {
  margin-right: 0;
}

/* Footer text links */
footer ul.footer-links li a:link,
footer ul.footer-links li a:visited {
  font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: var(--white-000);
  color: var(--white-000);
  transition: all 0.2s linear;
}

footer ul.footer-links li a:hover,
footer ul.footer-links li a:active {
  text-decoration-color: transparent;
  background-color: transparent;
}

/* Footer icons */
footer ul.footer-icons li a:any-link i {
  text-decoration: none !important;
  font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
  color: #ddd;
  border-bottom-width: 0;
  transition: all 0.2s linear;
}

footer ul.footer-icons li a:hover i {
  color: #999;
}

/* Privacy and legal link */
footer p.privacy a:link,
footer p.privacy a:hover {
  font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1920 - 320)));
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
  text-decoration-color: #ddd;
  color: #ddd;
  transition: all 0.2s linear;
}

footer p.privacy a:hover,
footer p.privacy a:active {
  text-decoration-color: transparent;
  background-color: transparent;
}
